profiles {
    local {
        cpus = 2
        memory = '12 GB'
        process {
            executor = 'local'     
              }
     }
   slurm {
        process {
            executor = 'slurm'
        }
        singularity {
            enabled = true
        }
        executor {
            submitRateLimit = 10
        }
    }
}

process {

    withName: smoove {
      executor = "slurm"
      time = "40 m"
      cpus = 3
      memory  = 8.GB
      container = "file:///home/moabd/projects/def-wyeth/moabd/Scallers/tools/smoove_latest.sif" 
    }
   withName:manta {
      cpus = 24
      // use stageInMode = copy for slow network drives. otherwise remove.
      // stageInMode = "copy"
      //executor = "slurm"
      memory = 6.GB
      time = "60 m"
      container = "file://illumina_manta.sif"                                        
         }
    withName:dysgu {

      cpus = 1
      //executor = "slurm"
      container = "docker://brentp/rare-disease-sv:v0.1.2"
      //stageInMode = "copy"
      memory = 8.GB
      time = "100 m"
   }  
    withName:melt {

       cpus = 1
      // executor = "slurm"
       stageInMode = "copy"
       memory = 8.GB
       time = "120 m"}

    withName:expansion_hunter {
      
      cpus = 8.GB
      memory = 6.GB
      time = "120 m"
         }

    withName:concat_by_sample {
      memory = 6.GB
      cpus = 2
      time = "10 m"
      container = "https://depot.galaxyproject.org/singularity/bcftools%3A1.9--ha228f0b_4"
         }
    withName:paragraph_duphold {
      container = "docker://brentp/rare-disease-sv:v0.1.2"
      cpus = 12
      memory = 6.GB
      time = "60 m"
         }
    withName:jasmine {
      container = "docker://brentp/rare-disease-sv:v0.1.2"
      cpus = 4
      memory = 6.GB
      time = "90 m"
         }
}


executor {
     queueSize = 10
     clusterOptions = "--account def-wyeth"
}



 singularity {
     enabled = true
     autoMounts = true
     runOptions = "--bind /home/moabd/scratch:/scratch/dysgu -B /home/moabd/scratch/tmp/jasmine:/scratch/tmp/jasmine"
 }
